appsettings.Secrets.json
*.bin
*.vsidx
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/WSAD-Final-Project.assets.cache
/obj/Debug/net7.0/WSAD-Final-Project.csproj.AssemblyReference.cache
/obj/Debug/net7.0/WSAD-Final-Project.GeneratedMSBuildEditorConfig.editorconfig
*.v2
/.vs/WSAD-Final-Project/v17/.suo
/bin/Debug/net7.0/WSAD-Final-Project.dll
/bin/Debug/net7.0/WSAD-Final-Project.exe
/bin/Debug/net7.0/WSAD-Final-Project.staticwebassets.runtime.json
/bin/Debug/net7.0/WSAD-Final-Project.pdb
/obj/Debug/net7.0/ref/WSAD-Final-Project.dll
/obj/Debug/net7.0/refint/WSAD-Final-Project.dll
/obj/Debug/net7.0/staticwebassets.build.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/WSAD-Final-Project.csproj.nuget.dgspec.json
/obj/WSAD-Final-Project.csproj.nuget.g.props
/obj/Debug/net7.0/staticwebassets.development.json
/obj/Debug/net7.0/staticwebassets.pack.json
/obj/Debug/net7.0/WSAD-Final-Project.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/WSAD-Final-Project.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/WSAD-Final-Project.dll
/obj/Debug/net7.0/WSAD-Final-Project.genruntimeconfig.cache
/obj/Debug/net7.0/WSAD-Final-Project.pdb
/obj/Debug/net7.0/scopedcss/bundle/WSAD-Final-Project.styles.css
/obj/Debug/net7.0/scopedcss/projectbundle/WSAD-Final-Project.bundle.scp.css
/obj/Debug/net7.0/WSAD-Final-Project.AssemblyInfo.cs
/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/obj/Debug/net7.0/WSAD-Final-Project.RazorAssemblyInfo.cs
